.modal-backgroud{
    width: 100%;
    height: 100%;
    background-color: rgba(2, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DivHijo{
    opacity: 20;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}